.block-certificate-active {
    margin-top: 30px;
    margin-bottom: 30px;
}

.msg {
    height: 16px;
}

.errors {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 12px;
}